
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/*body{
    /*background-color: #212529;
    min-height: 100vh;
    
}*/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 20px 100px;
    z-index: 1000;
    font-family: luxia;
}

header.sticky{
    padding: 5px 90px;
    background-color:rgb(22, 21, 21);
    opacity: 0.7;
}


header .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul{
    position: relative;
    display: flex;
    top: 10px;
    justify-content: center;
    align-items: center;
}

.clearfix{
    clear: both;
}

header ul li{
    position: relative;
    list-style: none;
}

header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition:  0.6s;
    display: block;
}

header a img{
    width: 20px;
    height: auto;
}
header ul li a.active,
header ul li a:hover{
/*background-color:rgb(0, 0, 0);*/
transition: 0.5s;
border: 1px solid #fff;
color: #fff;
padding: 8px;
}


header.sticky.logo,
header.sticky ul li a{
    color: #fff;
}


@media(max-width: 825px){
    .menu-toggle{
        margin-top: 12px;
        display: block;
        width: 40px;
        height: 40px;
        background-color: #fff;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color:#000;
    }
    .menu-toggle:before{
        content: '\f0c9';
        font-family: fontAwesome;
        line-height: 40px;
    }
    .menu-toggle.active:before{
        content: '\f00d';
    }
    .navbar{
        display: none;
    }
    
    .navbar.active{
        display: block;
        width: 100%;
    }
    .navbar.active ul{
        display: block;
    }
}


  



