:root{
    --colorPrimario: #083B66;
    --colorSecundario: #B73719;
    --colorTerciario: #FC9A32;
    --colorNegro: #000000;
    --colorBlanco: #FFFFFF;
}

*{
    padding: 0;
    margin: 0;
}


.div-reserva{
    position:absolute;
    top: 80%;
    left: 25%;
    z-index: 2;
}

.input-group{
    height: 70px;
}

.btnCotizar{
    width: 130px;
}


.carousel-inner{
    height: 100vh;
    
}

.container-slider{
    width: 50%;
    height: 100vh;
    left: 50%;
    position: absolute;
    background-color: #000000;
    top: -100vh;
    z-index: 3;
    opacity: 0.8;
}

  .tabs-rooms{
    width: 90%;
    height: 500px;
    position: relative;
    /*margin: 100px auto;*/
    overflow: hidden;
  }

  .btn-box{
      display: flex;
      border-bottom: 1px solid var(--colorTerciario);
  }

  .btn-box button{
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;
      padding: 10px;
  }

  .content-left img{
    width: 100%;
  }

  .content-left{
      flex-basis: 50%;
  }
  .content-right{
      flex-basis: 50%;
  }

  .content{
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 5% auto;
      position: absolute;
      transform: translate(100%);
      transition: 0.3s;
  }

    #content_one{
        transform: translateX(0px);
    }

  .btn-submit{
      width: 150px;
      height: auto;
      background-color: var(--colorPrimario);
      color: var(--colorBlanco);
      font-family: luxia;
      border: none;
  }

  #btn_one{
      color: var(--colorTerciario);
  }
  .card{
      border: none;
  }

  .titulo, .sub-titulo, .titulo-lateral, .text-grilla-contacto, .card-text{
    font-family: luxia;
  }

  .titulo{
    font-size: 1.9rem ;
  }

  .sub-titulo{
      font-size: 1.3rem;
  }

  .titulo-lateral{
      margin-top: 50%;
  }

  main section div .p-contacto, .p-img-icon{
      font-family: luxia;
  }

  main section div .p-contacto {
    margin-top: 15%;
  }

  main section img{
      margin-top: 10%;
  }

  main section div .p-img-icon{
    margin-top: 10px;
  }

  .fotos-cinta{
      width: 20%;
      height: auto;
      border: var(--colorSecundario);
  }

  .card-text{
      font-size: 1.1rem;
  }

  .icons{
      width: 45px;
      height: auto;
  }

  .icons-rrss{
      width: 24px;
      height: auto;
  }
  .text{
      font-family: luxia;
      font-size: 1.1rem;
  }
  .bg-informacion{
      background-color: var(--colorPrimario);
  }

  #CalltoAction{
    background-image: url('../Img/foto_1.jpg');
  }

  .CTA{
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align: center;
      position: relative;
  }

  .CTA::before{
      background-color: rgba(0,0,0,0.8);
      position:absolute;
      content: '';
      width: 100%;
      height: auto;
      top: 0;
      left: 0;
  }

  .content-services{
    background-image: url(../Img/foto_9.png);
  }
  .content-contacto{
    background-image: url(../Img/foto_10.png);
  }


  .content-services, .content-contacto{
      width: 70%;
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 400px;
      margin: 0 auto;
  }

  @media (max-width: 1097px){
    .content-services, .content-contacto{
        width: 80%;
        height: 350px;
    }}

    @media (max-width: 874px){
        .content-services, .content-contacto{
            width: 80%;
            height: 300px;
        }}
    @media (max-width: 600px){
        .content-services, .content-contacto{
            width: 100%;
        }}    

    .container-us{
        background-color: var(--colorPrimario);
       
    }    

    .container-us h3{
        color: var(--colorTerciario);
    }

    .img-icon{
        width: 40px;
        height: auto;
        margin-top: 15px;
        left: 40px;
    }


    /* Estilos de Servicios*/
    

    @media (max-width: 991px){
        .section-services div:nth-child(4){
            display: none;
        }}
    @media (max-width: 768px) {
        .section-services div:nth-child(3){
            display: none;
        }
    } 
    @media(max-width: 450px){
        .section-services, .titulo-lateral{
            font-size: 25px;
        }
    }   

    
    




